<div class="contaainer">
    <div class="row">
        <div class="col-sm-12">
            <form (ngSubmit)="onSubmitHandler()" [formGroup]="signupForm">
                <div class="form-group">
                    <label>Enter Name:</label>
                   <input type="text" class="form-control" formControlName="username">
                   <div class="alert alert-danger" *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid">
                     <span>Username is a required Field</span>

                   </div>
                </div>
                <div class="form-group">
                    <label>Enter Email:</label>
                   <input type="text" class="form-control" formControlName="email">
                </div>
                <input [disabled]="signupForm.invalid" type="submit" class="btn btn-primary"/>
            </form> 
        </div>
    </div>
</div>